<div class="container py-2 h-15">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-6">
      <!-- Login Type -->
      <div [ngSwitch]="loginType">
        <div *ngSwitchCase="'Employee # and Card #'">
          <!-- Employee # input -->
          <div class="form-group mb-4">
            <label class="form-label" for="Employee-Number">Employee Number:</label>
            <input
              name="Employee-Number"
              id="Employee-Number"
              placeholder="Enter Employee Number:"
              class="form-control form-control-lg visible"
              [(ngModel)]="employeeNumber"/>
          </div>
          <!-- Card # input -->
          <div class="form-group mb-4">
            <label class="form-label" for="Card #">Card #:</label>
            <input
              type="password"
              name="Card-Number"
              id="Card-Number"
              placeholder="Enter Card #:"
              class="form-control form-control-lg visible"
              [(ngModel)]="cardNumber"/>
          </div>
        </div>
        <div *ngSwitchCase="'Employee #'">
          <!-- Employee # input -->
          <div class="form-group mb-4">
            <label class="form-label" for="Employee-Number">Employee Number:</label>
            <input
              name="Employee-Number"
              id="Employee-Number"
              placeholder="Enter Employee Number:"
              class="form-control form-control-lg visible"
              [(ngModel)]="employeeNumber"/>
          </div>
        </div>
        <div *ngSwitchCase="'Card #'">
          <!-- Card # input -->
          <div class="form-group mb-4">
            <label class="form-label" for="Card #">Card #:</label>
            <input
              type="password"
              name="Card-Number"
              id="Card-Number"
              placeholder="Enter Card #:"
              class="form-control form-control-lg visible"
              [(ngModel)]="cardNumber"/>
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <div class="d-flex justify-content-around align-items-center">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          (click)="onEnter()">
          Enter
        </button>
        <button
          class="btn btn-primary btn-lg"
          (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

